{% extends "base.html" %}
{% block content %}

<div class="panel">
    <h2>Attendance Report</h2>

    <form method="get" class="two">
        <div>
            <label>Grade</label>
            <select name="grade" required>
                <option value="">Choose Grade</option>
                {% for g in grades %}
                <option value="{{g}}" {% if selected_grade == g %}selected{% endif %}>{{g}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Date</label>
            <input type="date" name="attendance_date" value="{{attendance_date}}" required>
        </div>

        <button class="btn">Load Report</button>
        <button type="button" class="btn green" onclick="window.print()">Print Report</button>
    </form>
</div>

<div class="panel">
    <h2>{{ selected_grade }} Attendance Report</h2>
    <p><b>Date:</b> {{ attendance_date }}</p>

    <div class="dashboard-grid">
        <div class="card"><h3>Present</h3><div class="number">{{ present }}</div></div>
        <div class="card"><h3>Absent</h3><div class="number">{{ absent }}</div></div>
        <div class="card"><h3>Late</h3><div class="number">{{ late }}</div></div>
    </div>

    <table>
        <tr>
            <th>No.</th>
            <th>Admission No</th>
            <th>Name</th>
            <th>Status</th>
        </tr>

        {% for r in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ r.pupil.admission_no }}</td>
            <td>{{ r.pupil.full_name }}</td>
            <td>{{ r.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
