{% extends "base.html" %}

{% block content %}
<div class="panel">
    <h2>Daily Collection Report</h2>

    <form method="get" class="two">
        <div>
            <label>Select Date</label>
            <input type="date" name="date" value="{{ selected_date }}">
        </div>

        <div>
            <br>
            <button class="btn">Load Report</button>
            <button type="button" class="btn green" onclick="window.print()">Print</button>
        </div>
    </form>
</div>

<div class="panel">
    <h3>Collections for {{ selected_date }}</h3>
    <h2>Total Collected: {{ money(total) }}</h2>

    <table>
        <tr>
            <th>No.</th>
            <th>Receipt</th>
            <th>Pupil</th>
            <th>Term</th>
            <th>Month</th>
            <th>Method</th>
            <th>Collected By</th>
            <th>Amount</th>
        </tr>

        {% for p in payments %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ p.receipt_no }}</td>
            <td>{{ p.pupil.full_name }}</td>
            <td>{{ p.term }}</td>
            <td>{{ p.month }}</td>
            <td>{{ p.payment_method }}</td>
            <td>{{ p.collected_by }}</td>
            <td>{{ money(p.tuition_paid + p.bus_paid + p.exam_paid + p.admission_paid) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
