{% extends "base.html" %}

{% block content %}
<div class="panel">
    <h2>Daily Collection Report</h2>

    <form method="get" class="two">
        <div>
            <label>Select Date</label>
            <input type="date" name="date" value="{{ selected_date }}">
        </div>

        <div>
            <br>
            <button class="btn">Load Report</button>
            <button type="button" class="btn green" onclick="window.print()">Print</button>
            <a href="/daily_collections?date={{ selected_date }}&pdf=1" class="btn">Export PDF</a>
        </div>
    </form>
</div>

<div class="panel">
    <h3>Collections for {{ selected_date }}</h3>
    <h2>Total Collected: {{ money(total) }}</h2>
    <div style="display:grid; grid-template-columns:repeat(4, 1fr); gap:15px; margin:25px 0;">
    <div style="background:#eaf2ff; padding:18px; border-radius:12px;">
        <b>Tuition Total</b>
        <h3>{{ money(tuition_total) }}</h3>
    </div>

    <div style="background:#eafff3; padding:18px; border-radius:12px;">
        <b>Bus Total</b>
        <h3>{{ money(bus_total) }}</h3>
    </div>

    <div style="background:#fff6e6; padding:18px; border-radius:12px;">
        <b>Exam Total</b>
        <h3>{{ money(exam_total) }}</h3>
    </div>

    <div style="background:#f3eaff; padding:18px; border-radius:12px;">
        <b>Admission Total</b>
        <h3>{{ money(admission_total) }}</h3>
    </div>
</div>

    <table>
        <tr>
            <th>No.</th>
            <th>Receipt</th>
            <th>Pupil</th>
            <th>Term</th>
            <th>Month</th>
            <th>Method</th>
            <th>Collected By</th>
            <th>Amount</th>
        </tr>

      {% for p in payments %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ p.receipt_no }}</td>
    <td>{{ p.pupil.full_name }}</td>
    <td>{{ p.term }}</td>
    <td>{{ p.month }}</td>
    <td>{{ p.payment_method }}</td>
    <td>{{ p.collected_by }}</td>
    <td>{{ money(p.tuition_paid + p.bus_paid + p.exam_paid + p.admission_paid) }}</td>
</tr>

{% else %}
<tr>
    <td colspan="8" style="text-align:center; padding:20px;">
        No collections found for this date.
    </td>
</tr>

{% endfor %}
    </table>
</div>
{% endblock %}
