{% extends "base.html" %}
{% block content %}

<style>
.login-wrapper{
    max-width:500px;
    margin:40px auto;
}

.login-card{
    background:white;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    text-align:center;
}

.edumanage-logo{
    width:110px;
    margin-bottom:15px;
}

.login-title{
    font-size:38px;
    font-weight:800;
    color:#0b5ed7;
    margin:0;
}

.login-title span{
    color:#16a34a;
}

.login-subtitle{
    color:#64748b;
    margin-bottom:25px;
    font-size:15px;
}

.login-card label{
    text-align:left;
    display:block;
    margin-top:12px;
    margin-bottom:6px;
    font-weight:600;
}

.login-card input{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
}

.login-btn{
    width:100%;
    margin-top:20px;
    padding:13px;
    font-size:16px;
    font-weight:bold;
    background:#0b5ed7;
    border:none;
    border-radius:10px;
    color:white;
}

.login-footer{
    margin-top:20px;
    color:#64748b;
    font-size:13px;
}
</style>

<div class="login-wrapper">

    <div class="login-card">

        <img src="{{ url_for('static', filename='edumanage_logo.png') }}"
             class="edumanage-logo">

        <h1 class="login-title">
            Edu<span>Manage</span>
        </h1>

        <div class="login-subtitle">
            Smart School Management System
        </div>

        <form method="post">

            <label>Username</label>
            <input name="username" required>

            <label>Password</label>
            <input name="password" type="password" required>

            <button class="login-btn">
                Login
            </button>

        </form>

        <div class="login-footer">
            © {{ current_year() if current_year else "2026" }}
            EduManage SaaS Platform
        </div>

    </div>

</div>

{% endblock %}
